//MIXINS
@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@mixin bg-img($url) {
background-image: url($url);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

@mixin container($width: 100%, $height: 100%, $padding: 0) {
  width: $width;
  height: $height;
  padding: $padding;
  margin: 0;
}

@mixin align-items($justify: flex-start, $align: flex-start, $flex-flow: row nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flex-flow;
}

@mixin bg-setter($container, $child) {
  .#{$container} {
    > *:nth-child(#{$child}){
      @include bg-img("../img/#{$child}.jpg");
    }
  }
}
